@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    color: white;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #1D1D1D;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    padding: 10px;
    background-color: #26a3ea;
}

.title {
    color: white;
    font-family: "Bree Serif", serif;
    font-weight: 200;
    margin: 0;
}

.logo {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    text-decoration: none;
}

.capa {
    color: #ffffff;
    font-family: "Bree Serif ", serif;
    font-style: normal;
    font-weight: 200;
    font-size: 35px;
    margin: 10px 100px;
}

li {
    list-style-type: none;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0;
    background-color: #26a3ea;
    bottom: 0;
    margin: 0;
}

.uj {
    text-align: center;
}

@media screen and (max-width: 532px) {
body {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
}

main {
    margin-top: 40px ;
    margin-bottom: 40px;
    height: calc(100vh - 120px);
    overflow-y: auto;
}

footer {
    position: fixed;
    width: 100%;
    font-size: 2vw;
}
}