@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body {
    background-color: #1D1D1D;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 10px;
    background-color: #26a3ea;
}

.title {
    color: white;
    font-family: "Bree Serif", serif;
    font-weight: 200;
    margin: 0;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}
